

  <div class='walkthrough show reveal' style="min-height: 100vh;height: auto;overflow-y: auto;">

  <div class="progress" style="height: 10px;">
    <div class="progress-bar" role="progressbar" style="width: 25%;background-color:#000" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>

    <!--

    <div class='walkthrough-pagination'>
      <a class='dot active'></a>
      <a class='dot'></a>
      <a class='dot'></a>
      <a class='dot'></a>
      <a class='dot'></a>
    </div>

    -->

    <div class='walkthrough-body'>


        <ul class='screens animate'>

          <li class='screen active'>

            <div class='media logo'>
              <img class='logo' src='https://s3.amazonaws.com/jebbles-codepen/icon.png'>
            </div>
            <h3>
              Qual a idade do seu imóvel?
              <br>
            </h3>

            <div class="container" style="margin-top:50px">
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Email</label>
                      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Password</label>
                      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                  </div>
                  <div class="form-group">
                    <label for="inputAddress2">Address 2</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputCity">City</label>
                      <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputState">State</label>
                      <select id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                      </select>
                    </div>
                    <div class="form-group col-md-2">
                      <label for="inputZip">Zip</label>
                      <input type="text" class="form-control" id="inputZip">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="gridCheck">
                      <label class="form-check-label" for="gridCheck">
                        Check me out
                      </label>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
            </div>


          </li>
          <li class='screen'>


            <div class='media books'>
              <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/book_icon_1.png'>
              <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/book_icon_2.png'>
              <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/book_icon_3.png'>
            </div>
            <h3>
              Data and File
              <br>Management

              </h3>
            <p>Mais um teadsfasdfasfdsdfasdfasdf sdafasdfasf asdf fasdfsadxto</p>

          </li>
          <li class='screen'>
            <div class='media bars'>
              <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/bar_icon_axis.png'>
              <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/bar_icon_3.png'>
              <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/bar_icon_2.png'>
              <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/bar_icon_1.png'>
            </div>
            <h3>
              Analytics
              <br>and Metrics

              </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
          </li>
          <li class='screen'>
            <div class='media files'>
              <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/file_icon_1.png'>
              <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/file_icon_2.png'>
              <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/file_icon_3.png'>
              <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/file_icon_4.png'>
            </div>
            <h3>
              Reporting
              <br>and Insights

              </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
          </li>
          <li class='screen'>
            <div class='media comm'>
              <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/comm_icon_1.png'>
              <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/comm_icon_2.png'>
            </div>
            <h3>
              Communications
              <br>Tools

              </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
          </li>
        </ul>
        <button class='prev-screen'>
            <
        </button>
        <button class='next-screen'>
            >
        </button>

      </div>

    <!-- <div class='walkthrough-footer'>
      <button class='button next-screen'>Next</button>
      <button class='button finish close' disabled='true'>Finish</button>
    </div> -->
  </div>

